/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: #{$base-font-size};
  font-display: swap;
  line-height: #{$base-line-height};
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight * 1.5;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


blockquote {
  width: fit-content;
  padding: 14px 24px;
  position: relative;
  border-radius: 8px;
  background: #ebebeb;
  &::before, &::after {
    top: 0;
    bottom: 0;
    content: '';
    position: absolute;
    background: #e7e7e7;
    box-shadow: 0 2px rgba(0,0,0,.25);
  }
  &::before {
    right: 100%;
  }
  &::after {
    left: 100%;
  }   
  p {
    margin: 0;
    font-size: 1.15em;
    color: $text-color;
    &::before {
      top: 0;
      left: 8px;
      color: #2790ec;
      content: '';
      font-size: 1.8em;
      position: absolute;
      text-shadow: -3px 0 #e3e3e3;
    }
    &::after {
      right: 8px;
      color: #2790ec;
      content: '';
      bottom: -16px;
      font-size: 1.8em;
      position: absolute;
      text-shadow: 3px 0 #e3e3e3;
    }
  }
}

/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.95);
  color: $text-color;
}

*:not(pre) > code {
  padding: 4px 6px;
  font-weight: normal;
  background-color: #dcdcdc;
  border-radius: 4px;
}

pre {
  overflow-x: auto;
  position: relative;
  background-color: #dcdcdc;
  border-radius: 8px;

  > code {
    display: inline-block;
    padding: 16px!important;
    background-color: transparent;
  }

  table, pre {
    margin-bottom: 0;

    .gutter, .code {
      padding: 6px;
      border: none;
    }
  }
}


pre code.hljs {
  background: #f0f0f0;
}


/**
 * Wrapper
 */
.wrapper {
  max-width: $content-width;
  margin: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/**
 * Tables
 */
table {
  display: block;
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 5%);
  border-collapse: collapse;
  overflow: auto;

  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }

  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }

  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }

  td {
    border: 1px solid $grey-color-light;
  }
}

/**
 * Flex layout
 */
%flex {
  display: flex;
}

%flex-1 {
  flex: 1;
  min-width: 0; /* <-- fix flexbox width with pre tags  */
}

/**
 * Flex sticky
 */
@mixin flex-sticky($top) {
  position: sticky;
  position: -moz-sticky; /* <-- fix sticky compatibility issue */
  position: -ms-sticky;
  position: -o-sticky;
  position: -webkit-sticky;
  align-self: flex-start; /* <-- fix the sticky not work issue */
  transform: scale(0.9999); /* <-- fix the sticky x overflow issue */
  top: $top;
}

/**
 * Vertical center
 */
@mixin vertical-center($position) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

/**
 * Horizontal center
 */
@mixin horizontal-center($position) {
  position: $position;
  left: 50%;
  transform: translateX(-50%);
}

/**
 * Center background image
 */
@mixin center-image {
  height: 100%;
  max-width: 1000%;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

$bg: #fff;

.quote {
  display:inline-block;
  margin:1em;
  overflow:hidden;
  
  blockquote {
    background-color:$bg;
    border: solid 8px #757575;
    display: inline-block;
    margin: 0;
    padding: 1em;
    position: relative;
    &:before {
      background-color: $bg;
      bottom: -10%;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: -10%;
      transform: rotate(-15deg) skew(5deg);
    }
    cite {
      display: block;
      font-style: italic;
      text-align: right;
      &:before {
        content: "- ";
      }
    }
    > * {
      position: relative;
      z-index: 1;
    }
  }
}

